.body {
  max-height: 70vh;
  overflow: auto;
}

.notice {
  margin: 0;
  padding: 16px 0;
  color: var(--dsw-alias-label-secondary);
  font-size: 14px;
  line-height: 20px;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 70vh;
  margin: 0 auto;
}
